@use "theming/theme";

.modal-overlay {
  // вкрав з W3Schools
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: rgba(0 0 0 / 40%);
  backdrop-filter: blur(2px);
}

.modal {
  border-radius: 2px;
  z-index: 10;
  box-shadow: 0 0 10px 1px rgba(0 0 0 / 60%);
  background-color: white;
  margin: 10% auto;
  overflow: auto;

  @media screen and (max-width: 768px) {
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__box {
    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }

  &__header {
    background-color: #464547;
    margin: 0;
    font-size: 18px;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  &__title {
    color: white;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: left;
    padding: 1em;
    font-size: 20px;
  }

  &__close {
    cursor: pointer;
    height: 100%;
    border: 0;
    background: rgba(0 0 0 / 0%);
    font-size: inherit;
    padding: 0.5em;
    padding-right: 24px;
    color: white;
    vertical-align: center;
    float: right;
  }

  &__content {
    padding: 1em;

    @media screen and (max-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}

.add-teacher-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4px 12px;
  grid-template-rows: repeat(9, 1fr);
  align-items: center;
  margin: 30px 36px;
  width: 560px;

  &__input {
    padding: 12px 14px;
  }

  &__full-row-on-mobile {
    @media only screen and (max-width: 768px) {
      grid-column: 1 / span 2;
    }
  }

  &__btn {
    font-size: 22px;
    font-weight: theme.$title-font-weight;
  }

  @media only screen and (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

.teacher-full-info {
  padding: 1em;
  width: 950px;

  $avatar-size: 320px;

  @media screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 1em;
    width: 100%;
  }

  &__name {
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 32px;
    text-align: left;
    margin-left: calc(320px + 44px);

    @media screen and (max-width: 768px) {
      margin: 0;
      align-self: center;
      padding: 0;
    }
  }

  &__specialty {
    padding-top: 16px;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: theme.$title-font-weight;
    text-align: left;
    margin-left: calc(320px + 44px);

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  &__avatar {
    width: $avatar-size;
    height: $avatar-size;
    float: left;
    padding-bottom: 32px;

    @media screen and (max-width: 768px) {
      margin: 0;
      align-self: center;
      padding: 0;
    }
  }

  &__info {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 11px;
    color: #888897;
    text-align: left;
    margin-left: calc(320px + 44px);

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  &__email {
    color: #1a9cb0;
    text-decoration: none;
    text-align: left;
    margin-left: calc(320px + 44px);
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;

    &:hover {
      text-decoration: #1096d0 underline;
      cursor: pointer;
      color: #1096d0;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  &__desc {
    clear: both;
    text-align: left;
    font-family: theme.$base-font;
    font-size: 12px;
    font-weight: theme.$base-font-weight;
    margin-bottom: 16px;

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  &__map-btn {
    margin-top: 16px;
    margin-bottom: 16px;
    color: #7cb1c8;
    text-decoration: #7cb1c8 underline dashed;
    text-align: left;
    width: 100%;

    &:hover {
      cursor: pointer;
      color: #1096d0;
    }

    @media screen and (max-width: 768px) {
      margin: 0;
      padding: 0;
    }
  }

  &__toggle-favorite {
    float: right;
    font-size: 28px;
    color: theme.$favorite-color;
    border: 0;
    background: rgba(0 0 0 / 0%);
    vertical-align: middle;
  }

  &__toggle-favorite-mobile {
    @media screen and (max-width: 768px) {
      margin: 0;
      align-self: center;
      padding: 0;
    }
  }

  &__map {
    display: none;
    width: 512px;
    height: 512px;

    @media screen and (max-width: 768px) {
      margin: 0;
      align-self: center;
      padding: 0;
    }
  }
}
