@use "theming/theme";

@keyframes skeleton {
  from {
    background-color: #b2aeae;
  }

  50% {
    background-color: rgba(178 174 174 / 39%);
  }

  to {
    background-color: #b2aeae;
  }
}

.teacher-avatar-skeleton {
  border-radius: 100%;
  padding: 0;
  width: 7em;
  height: 7em;
  font-size: inherit;
  transition: 0.25s;
  margin: 8px;
  overflow: hidden;
  animation: skeleton 2.5s infinite;
}

.teacher-skeleton {
  &__name {
    font-size: inherit;
    font-weight: theme.$title-font-weight;
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 8em;
  }

  &__nationality {
    font-size: 8px;
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 8em;
  }

  &__specialty {
    animation: skeleton 2.5s infinite;
    font-size: 11px;
    color: #888897;
    height: 1em;
    width: 8em;
  }
}

.stats-table-skeleton {
  &__name {
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 10em;
  }

  &__course {
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 8em;
  }

  &__age {
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 2em;
  }

  &__gender {
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 5em;
  }

  &__nationality {
    animation: skeleton 2.5s infinite;
    height: 1em;
    width: 7em;
  }
}
